

<ion-content class="ion-text-center ion-padding">
  <div class="container">
    <div class="page-header">
      <h1>Welcome To ShopRai</h1>
      <p>Explore Us</p>
    </div>

    <ion-img src="../../../assets/welcome.svg"></ion-img>

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" >Log in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/register">Signup</ion-button>
    </div>
  </div>
</ion-content>
