ion-header {
    --box-shadow: none;

    ion-icon {
      font-size: 2rem;
      color: rgba(102, 126, 234, 1);
    }   
}

ion-toolbar {
    --border-width: 0 !important;
}

.header-md::after {
    background: none;
}


.container {
    display: grid;
    
    h1 {
        margin-top: 0rem;
    }

    .form-container {
        margin-top: 48px;
    }
    
    ion-item {
            --padding-start: 0;
            --border-color: #DADADA;
            margin-bottom: 1rem;

    }

        ion-icon {
            margin-top: 1rem;
            color: #c6cbd4;
        }

        ion-button {
            margin-top: 2rem;
        }

    ion-label {
        color: #A6A6A6;
    }
 

    .signup {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        ion-button {
            margin: 0;
            text-transform: initial;
        }
    }
}

