<ion-app>
  <ion-menu contentId="main-content" [disabled]="!isMenuEnable">
    <div class="ion-page" id="main-content">
      
    </div>
    <ion-content class="ion-padding">
        <div class="main-list">

          <ion-list class="inbox-list">
            <ion-menu-toggle autoHide="false">
              <ion-item lines="none" (click)="navigate('/home', 1)" detail="false" class="ion-text-center" [class.selected]="selectedIndex == 1">
                <ion-label>Home</ion-label>
              </ion-item>
              <ion-item lines="none" (click)="navigate('/login', 2)" detail="false" class="ion-text-center" [class.selected]="selectedIndex == 2">
                <ion-label>Login</ion-label>
              </ion-item>
              <ion-item lines="none" (click)="navigate('/register', 3)" detail="false" class="ion-text-center" [class.selected]="selectedIndex == 3">
                <ion-label>Register</ion-label>
              </ion-item>
              <ion-item lines="none" (click)="navigate('/cart', 4)" detail="false" class="ion-text-center" [class.selected]="selectedIndex == 4">
                <ion-label>Cart</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-button fill="clear" color="dark" (click)="close()" class="close-btn">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-content>
  </ion-menu>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
